.form {
  &__card {
    &-title {
      font-family: fontFamily(secondary) !important;
      font-weight: fontweight(tiny) !important;
    }
    &-text {
      @include breakpoint(medium) {
        max-width: 80%;
      }
    }
  }
}
