.tabs {
  &__title {
    font-size: fontsize(xxsmall) !important;

    @include breakpoint(small) {
      font-size: fontsize(xsmall) !important;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include breakpoint(small) {
      flex-direction: row;
    }
  }
}
