.content {
  &__title {
    font-family: fontFamily(primary);
  }

  &__copy {
    padding-block: spacing(large);

    &-text {
      color: color(text);
      font-family: fontFamily(primary);
      font-weight: fontweight(light);
    }
  }

  .content-subtitle {
    color: color(text);
    margin-bottom: spacing(small);
  }
}
