.hero {
  .uk-section {
    // padding-top: 20px;
    @include breakpoint(default) {
      padding-top: 10px;
    }

    @include breakpoint(small) {
      padding-top: 15px;
    }

    @include breakpoint(medium) {
      padding-top: 0;
    }
  }

  // hero text
  .uk-heading-large {
    font-family: fontFamily(primary);
    font-weight: 700;

    @include breakpoint(medium) {
      font-weight: 600;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: spacing(xsmall);

    @include breakpoint(medium) {
      flex-direction: row;
      gap: spacing(small);
    }
  }

  &__highlight {
    // background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=ffd966);
    background-image: url("../../../assets/highlightText.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
